table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    color:tomato;
    background-color: dodgerblue;
  }
  td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .page-nav {
    margin-top: 20px;
    min-width: 50%;
    display: flex;
    flex-direction: row;
   /* border: 3px lavender solid;*/
    /*border-radius: 1em;*/
    padding: 0 0.5em;
    justify-content: space-evenly;
  }
  .selected {
    border: solid 1px black;
  }
